div.content {
    width:500px;
    height: 200px;
    margin:auto;
    border-style: groove;
  }
  h2 {
    text-align: center;
  }
  .alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}
div.chart-section {
  margin: auto;
}